@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, sans-serif;
}

.a-box {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.a-button-primary {
  background: linear-gradient(to bottom, #f7dfa5, #f0c14b);
  border: 1px solid #a88734;
  border-color: #a88734 #9c7e31 #846a29;
}

.a-button-primary:hover {
  background: linear-gradient(to bottom, #f5d78e, #eeb933);
}

